body{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Georgia', serif;
  }
  /* Mostrar el dropdown al pasar el ratón */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Asegura que no haya espacio entre el botón y el menú */
    margin-left: -12vh;
  }

  .dropdown{
    width: 12vh;
  }
  
  /*Navbar*/
  .navbar-light .navbar-nav .nav-link, .sticky-top.navbar-light, .-link:hover,
  .nav-link.active .navbar-brand img,.navbar .dropdown-toggle::after {
    color: var(--bs-black);
    transition: 0.5s;
    border: none;
    vertical-align: middle;
    margin-left: 8px;
    padding: 15px 15px;
    position: sticky;
    /* font-family: 'Abril Fatface', cursive; */
    opacity: 1;
  }
  
  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0%;
    left: 0;
    background: #D98000;
    transition: 0.5s;
    z-index: -4;
    /* font-family: 'Abril Fatface', cursive; */
  }
  
  .navbar-light .navbar-nav .nav-link:hover::before, .navbar-light .navbar-nav {
    height: calc(100%);
    left: 1%;
  }
  
  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }
  
  @media (min-width: 992px) {
    .navbar-light {
      width: 100%;
      z-index: 999;
      background-color: white;
      height: 80px;
    }
  
    .col-lg-8.text-center.text-lg-start.mb-2.mb-lg-0 {
      margin-block-start: 1%;
    }
  }
  
  .welcome{
    background-image: url(../img/imgLugares/puente.jpg);
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    filter: brightness(60%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    /* font-family: 'Abril Fatface', cursive; */
  }
  
  
  
  .itemActivo{
    background-color: #D98000;
  }
  .content {
    padding:5vh;
    position: absolute;
    left: -15vh;
  }

  .wel{
    padding-top: 40vh;
  }

/*termina navbar*/
/*estilos, centro del landing page, cards*/

  
#credits {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    font-size: 12px;
    font-family: Arial, sans-serif;
  }
  
  .container {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    padding: 64px 24px;
  }
  
  .card-grid {
    display: grid;
    grid-column-gap: 50vh;
    max-width: 800px;
      width: 100%;
  }
  
  @media(min-width: 540px) {
    .card-grid {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  
  @media(min-width: 960px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr); /* Cambia aquí a 2 columnas */
    }
  }
  
  
  .card:before {
    content: '';
    display: block;
    /* padding-bottom: 150%; */
    width: 100%;
    height: 50vh;
    border-radius: 24px;
  }


  .background {
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: -20vh;
    position: absolute;
    right: 0;
    top: 0;
    transition: filter 200ms linear, transform 200ms linear;
    height: 50vh;
    width: 500px;
  }
  
  .card:hover .background {
    transform: scale(1.05);
    filter: none;
  }
  
  .card-grid:hover > .card:not(:hover) .background {
    filter: brightness(0.6) saturate(1) contrast(1.2) blur(5px);
  }
  
  .card-grid:hover > .card:not(:hover) .content {
    filter: brightness(0.8) blur(2px);
  }

.category {
    color: #e1e1e1;
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.heading {
    color: #e1e1e1;
    font-size: 1.8rem;
  }

  /*****************Viajes***************/
  .containerViajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las cards */
    padding: 20px;
  }
  
  .cardViajes {
    position: relative;
    width: 320px; /* Tamaño aumentado */
    height: 220px; /* Tamaño aumentado */
    margin: 20px; /* Espacio alrededor de las cards */
    overflow: hidden;
    border-radius: 10px; /* Borde más redondeado */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transition: transform 0.3s ease-in-out;
  }
  
  .cardViajes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .card-contentViajes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro para el texto */
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card-contentViajes h3 {
    margin-top: 0;
  }
  
  .card-contentViajes p {
    font-size: 14px;
    color: #ddd;
  }
  
  .cardViajes:hover {
    transform: scale(1.05); /* Agranda la card al pasar el mouse */
  }
  
  .cardViajes:hover .card-contentViajes {
    opacity: 1;
  }

  /*Footer*/
  
  .footer-item{
    text-align: left;
  }
  
  a{
    text-decoration: none!important;
    color: white;
  }
  
  
  
  .cardIcon {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    border-radius: 15px;
    gap: 10px;
    /* margin-top: -45px; */
    margin-top: -15vh;
  }
  
  .socialContainer {
    width: 52px;
    height: 52px;
    background: #0F2027;  /* fallback for old browsers */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 15px;
  }
  .containerOne:hover {
    background-color: #D98000;
    transition-duration: .3s;
  }
  .containerTwo:hover {
    background-color: #D98000;
    transition-duration: .3s;
  }
  .containerThree:hover {
    background-color: #D98000;
    transition-duration: .3s;
  }
  .containerFour:hover {
    background-color: #D98000;
    transition-duration: .3s;
  }
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  .socialIcon {
    color: white;
  }
  .socialContainer:hover .socialIcon {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  /*****LOADER*****************/
  .loader {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo para cubrir toda la pantalla */
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255); /* Fondo blanco semi-transparente */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    align-items: center;
    justify-content: center;
}
  
  .loader span {
    display: block;
    background: #ee9b00;
  }
  
  .loader .hour, .loader .min {
    width: 6px;
    height: 22px;
    border-radius: 50px;
    position: absolute;
    top: 24.5px;
    left: 21px;
    animation: load9243 1.2s linear infinite;
    transform-origin: top center;
  }
  
  .loader .min {
    height: 17px;
    animation: load9243 4s linear infinite;
  }
  
  .loader .circel {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 19px;
    left: 19px;
  }
  
  @keyframes load9243 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  